- if current_user.is_admin?
  .container
    .page-header
      - if @course.present?
        %h1= "Lessons for #{@course.title}"
    = form_for @lesson, html: {class: 'form-horizontal'} do |f|
      .form-group
        = f.label :title, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :description, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :description, class: 'form-control'
      .col-sm-offset-2.col-sm-10
        = f.submit 'Create Lesson', class: 'btn btn-primary'
