- if user_signed_in? && current_user.is_admin?
  .container
    .page-header
      %h1= "Lessons for #{@course.title}"
    = form_for @lesson, html: {class: 'form-horizontal'} do |f|
      .form-group
        = f.label :title, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :title, autofocus: true, class: 'form-control'
      .form-group
        = f.label :description, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :unit_id, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.collection_select :unit_id, @course.units.order(:title),:id,:title, include_blank: true
      -# = f.hidden_field :unit_id, value: @unit.id
      .col-sm-offset-2.col-sm-10
        = f.submit 'Create Lesson', class: 'btn btn-primary', id: 'create_lesson'
    %button.btn.btn-default= link_to 'View course', course_path(@course)
    .lessons
      - if @course.present? && @course.units.present?
        - @course.units.each_slice(3) do |units|
          .row
            - units.each do |unit|
              .col-sm-4{id: "unit_#{unit.id}"}
                .page-header
                  %h1= unit.title
                - if unit.lessons.present?
                  -unit.lessons.each do |lesson|
                    .lesson
                      %p.lead= lesson.title
- else
  %script
    window.location.href="/"
