- if current_user.is_admin?
  .container
    = form_for @lesson, html: {class: 'form-horizontal'} do |f|
      .form-group
        = f.label :title, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :title, autofocus: true, class: 'form-control'
      .form-group
        = f.label :description, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :description, class: 'form-control'
      = f.hidden_field :unit_id, value: @unit.id
      .col-sm-offset-2.col-sm-10
        = f.submit 'Create Lesson', class: 'btn btn-primary'
