.background-img{id: "#{@course.title}"}
  = image_tag @course.course_image.url(:background), class: 'img'
  .page-wrap
    .video
      %h1.promo.text-white= @course.title
      %iframe{width: '640', height: '360', src: "#{@course.url}", frameborder: 0, allowfullscreen: true}
.row.page#page1
  .container
    .col-sm-6
      - if user_signed_in? && current_user.is_admin?
        = link_to 'Create new course', new_course_path, class: 'btn btn-primary'
        = link_to 'Edit course', edit_course_path(@course), class: 'btn btn-warning'
        = link_to 'Delete course', course_path(@course), method: :delete, data: {confirm: 'Are you sure you want to delete the course?'}, class: 'btn btn-danger'

      %h1.promo= @course.subtitle
    .col-sm-6
      .promo-list
        = image_tag 'video-icon.png', class: 'badge-icon'
        .promo-desc
          %h3= "#{@course.count_lessons} Video Lessons"
      .promo-list
        = image_tag 'video-icon.png', class: 'badge-icon'
        .promo-desc
          %h3= "#{@course.count_resources} Additional Resource Downloads"
.row.page#page2
  .container
    .col-sm-6
      - if user_signed_in? && current_user.is_admin?
        - if !@teacher.present?
          = link_to 'Add a teacher', new_course_membership_path(@course)
        - else
          = link_to 'Edit teacher', edit_course_membership_path(@course, @membership)
      - if @teacher.present?
        = image_tag @teacher.profile_image(:large), class: 'big-image'
        %h2= @teacher.full_name
        %p.lead= @teacher.headline
    .col-sm-6
      %h1.promo-blue FROM PROFESSIONAL ATHLETES & COACHES
.row.page#page3
  .container
    .page-header
      %h1.text-white Course Curriculum
      - if user_signed_in? && current_user.is_admin?
        = link_to 'Add a new unit', new_course_unit_path(@course), class: 'btn btn-default'
    %p= @course.description
    - @course.units.each_slice(3) do |group|
      .row
      - group.each do |unit|
        .col-sm-4
          .boxy
            %h3.unit= "Unit #{unit.unit_number}: #{unit.title}"
            - if user_signed_in? && current_user.is_admin?
              = link_to 'Edit unit', edit_course_unit_path(@course, unit), class: 'text-warning'
              |
              = link_to 'Delete unit', unit_path(unit), method: :delete, data: {confirm: 'Are you sure?'}, class: 'text-danger'
              |
              = link_to 'Add a lesson', new_lesson_path(@course, unit), class: 'text-white'

            %table.table
              %tbody
                - unit.lessons.each do |lesson|
                  %tr
                    %td
                      = lesson.title
                      - if user_signed_in? && current_user.is_admin?
                        .pull-right
                          = link_to "Edit lesson", edit_lesson_path(lesson), class: 'text-white'
                          |
                          = link_to 'Delete lesson', lesson_path(lesson), method: :delete, data: {confirm: 'Are you sure?'}, class: 'text-danger'



