.background-img{id: "#{@course.title}"}
  %img.img{src: "http://honehouse.com/img/Stone-2.jpg"}
    .page-wrap
      .video
        %iframe{width: '640', height: '360', src: "#{@course.url}", frameborder: 0, allowfullscreen: true}
  }
.container
  .page-header
    %h1= @course.title




  - if current_user.is_admin?
    = link_to 'Delete course', course_path(@course), method: :delete, data: {confirm: 'Are you sure you want to delete the course?'}
    = link_to 'Create new course', new_course_path
