- if current_user.is_admin?
  .container
    = form_for [@course, @unit], html: {class: 'form-horizontal'} do |f|
      .form-group
        = f.label :unit_number, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.number_field :unit_number, placeholder: 'Unit Number', class: 'form-control'
      .form-group
        = f.label :title, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :title, placeholder: 'Unit Title', class: 'form-control'
      .form-group
        = f.label :description, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :description, placeholder: 'Unit Description (optional)', class: 'form-control'
      = f.hidden_field :course_id, value: @course.id
      .col-sm-offset-2.col-sm-10
        = f.submit 'Create Unit', class: 'btn btn-success'
