!!!
%html
  %head
    %title HoneHouse
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width; initial-scale=1.0;"}
    %meta{name: "description", content: "Lacrosse 101 is a teaching tool for youth lacrosse players and their parents to learn the basics of the game and establish a foundation for improvement. A ### part video series taught by Mike Stone of the Boston Cannons, Lacrosse 101 details the fundamentals of lacrosse and offers tips, drills, and practice routines to help young players improve. Skills covered include passing, catching cradling, holding the stick, dodging, and shooting. Lacrosse 101 is a great learning experience for players and parents alike."}
    %meta{name: "author", content: "Mike Stone Lacrosse 101"}

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{role: 'navigation'}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#bs-example-navbar-collapse-1'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'HoneHouse', root_path, class: 'navbar-brand'

        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to "Hello, #{current_user.first_name}", user_path(current_user)
              %li
                = link_to 'Sign out', destroy_user_session_path, method: :delete, prompt: 'Are you sure?'
            - else
              %li
                = link_to 'Sign in', new_user_session_path
    .container
      -if flash[:notice].present?
        .alert.alert-success= notice
      -if flash[:errors].present?
        .alert.alert-danger= alert
    = yield
